.jumbotron {
    margin-top: 50px;
}

.jumbotron-fluid {
    height: auto;
}

.row {
    padding: 20px;
}

.container-sm {
    background-color: lightcoral;
}

.container-md {
    background-color: lightgreen;
}
{
    /* background-color: lightsalmon; */
}

.section-header {
    margin-bottom: 20px;
}

.icon {

}